@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&display=swap');
.wrapper {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

nav {
  padding: 20px;
  width: 100%;
  color: white;
}

.navbar {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
   margin-left: 10rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  height: 60px;
}

.home {
   color: white;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}


.anchor {
  font-size: 16px;
  margin-left: 5px;
  color:#d23669;
  text-decoration: underline;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.author {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  width: 100%;
  
}

li {
  list-style-type: none;
}


a {
  font-size: 30px;
  text-decoration: none;
  color: black;

}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 75px; */
}

img {
  height: 80px;
  border-radius: 60px;
  margin-right: 20px;
}



button {
  color: white;
  background-color: #084b6d;
  padding: 9px 18px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

h1 {
  color: #084b6d;
  margin-left: 55px;
}

h2 {
  color: #d23669;
  font-size: 2rem;
}

.loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.google-btn {
  cursor: pointer;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  /* svg curtosy of https://icons8.com/icons*/
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 9px;
  margin-left: 60px;
}

.loginTag {
  margin-left: 60px;
  
}
.google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}


input,
textarea {
  padding: 0 0 10px 5px;
  margin-bottom: 40px;
  color: #333;
}

.special {
  text-indent: 20px;
}
  
label {
    font-size: 0.8rem;
    color: #084b6d;
    opacity: 1;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

@media (max-width: 750px) {
  form {
    width: 80%;
    padding-top: 100px;
  }

  .posts {
    padding: 0;
  }


  nav {
    flex-direction: column;
      align-items: flex-start;
      display: none;

  }

 
    
}



.logOut {
  margin-left: 70px;
}  

@media (max-width: 750px) {
  nav {
     flex-direction: row;
  }
  form {
    width: 80%;
    padding-top: 100px;
  }

  .menu-bars {
  margin-left: 8rem;
  font-size: 2rem;
  background: none;
}
  
}

@media (max-width: 500px) {

  h1 {
    margin-left: 20px;
  }

  .profile {
    margin:0;
  }

  ul {
    margin-right: 100px;
  }

  .google-btn {
    margin-right: 100px;
  }

  .loginTag {
    margin-left:0;
  }

 .menu-bars {
  margin-left: 5rem;
  font-size: 2rem;
  background: none;
}

.nav-menu-items {
  margin: 0;
  padding: 0;
}

form {
  padding: 0;
}


}

@media (max-width: 430px) {

  form {
    width: 80%;
    margin-left: 20px;
  }

  h1 {
    margin-left: 20px;
  }

  .profile {
    margin-left: 20px;
  }

  .home {
    margin-right: 100px;
  }

  .google-btn {
    font-size: 16px;
  }
  
  .loginTag {
    font-size: 12px;
  }

  .menu-bars {
  margin-left: 1.75rem;
}

}




