.wrapper {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

nav {
  padding: 20px;
  width: 100%;
  color: white;
}

ul{
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 150px;
}

.author {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  
}

li {
  list-style-type: none;
}


a {
  font-size: 30px;
  text-decoration: none;
  color: black;

}

button {
  color: white;
  background-color: #084b6d;
  padding: 9px 18px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}


h1 {
  color: #d23669;
}

.loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.google-btn {
  cursor: pointer;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  /* svg curtosy of https://icons8.com/icons*/
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 9px;
}
.google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}


input,
textarea {
  padding: 0 0 10px 5px;
  margin-bottom: 40px;
  color: #333;
}

.special {
  text-indent: 20px;
}
  
label {
    font-size: 0.8rem;
    color: #084b6d;
    opacity: 1;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

@media (max-width: 750px) {
  form {
    width: 80%;
    padding-top: 100px;
  }

  .posts {
    padding: 0;
  }


  nav {
    flex-direction: column;
      align-items: flex-start;
      display: none;

  }

 
    
}



.logOut {
  margin-left: 70px;
}  

@media (max-width: 750px) {
  form {
    width: 80%;
    padding-top: 100px;
  }

  .posts {
    padding: 0;
  }


  nav {
    flex-direction: column;
      align-items: flex-start;
      display: none;

  }
}




